*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

.container{
    width: 500px;
    height: 590px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 80px;
    border-radius: 10px;
}


main{
    height: 60%;
    margin-top: 20px;
    background-color: white;
    position: relative;    
    border: 1px solid gray;
}

.barra{
    background-color: orange;
    width: 70%;
    height: 24px;
    border: 1px solid gray;
}

.wrapper{
    position: absolute;
    padding: 24px 36px;
    border-top: 1px solid gray;

}

.text p{
    font-size: 1.5rem;
    line-height: 1.6rem;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}


.donation-form{
    display: flex;
    justify-content: space-between;
}

.input{
    width: 45%;
    height: 60px;
    margin-top: 1em;
    font-size: 1.2em;
    padding: 0.5 0.8em;
    margin-top: 1em;
    margin-bottom: 0.6em;
    border-radius: 6px;
}

input[type="number"] {
    appearance: textfield;
    padding-left: 24px;
}

.button-text{
    color: white;
    background-color: rgb(0, 245, 33);
    width: 45%;
    height: 60px;
    margin-top: 1em;
    font-size: 1.2em;
    padding: 0.5 0.8em;
    margin-top: 1em;
    margin-bottom: 0.6em;
    border-radius: 6px;

}

.button-footer{
    width: 45%;
    height: 60px;
    margin-top: 1em;
    font-size: 1.2em;
    padding: 0.5 0.8em;
    margin-top: 1.5em;
    margin-bottom: 0.6em;
    border-radius: 6px;
}
.orange{
    color: orange;
    font-size: 28px;
    font-weight: bold;
}
.bold{
    font-size: 30px;
    font-weight: bold;
}
