body{
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: aquamarine;
    width: 30%;
    height: 60%;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    height: 80px;
    border-radius: 10px;
}
.barra{
    height: 16px;
    background-color: blueviolet;
}
main{
    display: flex;
    flex-direction: column;
    height: 70%;
    background-color: crimson;
}
footer{
    display: flex;
    justify-content: space-evenly;
    height: 10%;
    background-color: chocolate;
}
.text{
    padding: 24px;
    font-size: 24px;
    background-color: blueviolet;
    height: 50%;
}
.wrapper{
    padding: 36px;
}
a{
    width: 100%;
    background-color: coral;
    display: in-;
}
